/* Utilizaremos medidas em REM */
:root {
    --primary-color: rgba(50,130,218,1);
    --secundary-color: rgba(76,64,134,1);
    --fundo-tabela: rgba(246,250,228,1);
    --white: rgba(255,255,255,1);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: black;
    line-height: 1.5;
}
.menu {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 1.5rem;
    z-index: 1;
}
.menu-adc-part {
    padding-right: 7rem;
}
.menu:hover {
    background: var(--secundary-color); 
    transition: all 300ms ease-in-out;
}
a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
}

.menu-spacing {
    height: 6.5rem;
}
  
  /* LATERAL ESQUERDA SIDE BAR */
  .barra-lateral-esquerda {
    display: inline-block;
    position: fixed;
    background-color: var(--primary-color);
    width: 20%;
    height: 40.91rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 1.5rem;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .titulo-sidebar {
    background-color: var(--secundary-color);
    border-top-right-radius: 1.5rem;
    color: var(--white);
    font-size: 1.8rem;
    padding: 0.5rem;
  }

.espaco-gastos-mensais-atual{
    display: inline-block;
    align-items: center;
    color: var(--white);
    border-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .titulo-sidebar-atual {
    width: 15rem;
    margin-top: 1rem;
    background-color: var(--secundary-color);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    color: var(--white);
    font-size: 1.8rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem; /* superior | direita | inferior | esquerda */
}

.tabela-gastos-mensais-atual table {
    background-color: var(--fundo-tabela);
    color: black;
    font-size: 1rem;
    width: 15rem;
    border-collapse: collapse;
    border: 1px solid black;
}

table, th, td {
    background-color: var(--fundo-tabela);
    color: black;
    font-size: 1rem;
    width: 15rem;
    border-collapse: collapse;
    border: 1px solid black;
    /*Corrigir border radius*/
}

.titulo-tabela th{
    background-color: var(--secundary-color);
    color: var(--white);
}

.tabela-spacing {
    height: 2.8rem;
}

.espaco-tabela-proximos{
    display: inline-block;
    align-items: center;
    color: var(--white);
    border-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }


  /* LATERAL DIREITA */

  .barra-lateral-direita {
    display: inline-block;
    position: fixed;
    right: 0;
    background-color: var(--primary-color);
    width: 70%;
    height: 40.91rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

nav {
    background-color: var(--secundary-color);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;

}

.titulo-barra-esquerda {
    padding-left: 1rem;
}

.titulo-barra-esquerda:hover {
    background-color: var(--primary-color);
}

.botoes-barra-direita {
    padding-left: 1rem;
}

input {
    display: flex;
    all: unset;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    border: 0.1rem solid;
    border-radius: 1.5rem;
    padding-left: 1rem;
    background-color: var(--secundary-color);
}

input::placeholder {
    color: var(--white);
}

button {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    color: var(--white);
    border: 0.1rem solid black;
    border-radius: 1.5rem;
    background-color: var(--secundary-color);
    text-align: center;
}


.espaco-tabela-este-mes {
    padding-left: 1rem;
    padding-top: 1rem;
    max-height: 10rem;
    width: 45rem;
}

.tabela-este-mes {
    display: block;
    text-align: center;
    align-items: center;
    border-top-left-radius: 1rem;    
    width: 45rem;
    height: 10rem;
    max-height: 10rem;
    margin-bottom: 10rem;
    overflow-y: scroll;
}

.tabela-este-mes td {
    width: 15rem;
}

.tabela-este-mes tr:first-child {
    position:fixed;
    width: 45rem;
}



/* RESPONSIVIDADE */

@media (min-width: 769px) {
.barra-lateral-esquerda {
    display: inline-block;
    position: fixed;
    background-color: var(--primary-color);
    width: 20%;
    height: 54.1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 1.5rem;
    align-items: center;
    align-content: center;
    text-align: center;
}

.barra-lateral-direita {
    display: inline-block;
    position: fixed;
    right: 0;
    background-color: var(--primary-color);
    width: 70%;
    height: 54.1rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    }

}