/* Utilizaremos medidas em REM */
:root {
    --primary-color: rgba(50,130,218,1);
    --secundary-color: rgba(76,64,134,1);
    --fundo-tabela: rgba(246,250,228,1);
    --white: rgba(255,255,255,1);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: black;
    line-height: 1.5;
}

.menu {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    padding: 1.5rem;
    z-index: 1;
}

.menu-adc-part {
    padding-right: 7rem;

}

.menu:hover {
    background: var(--secundary-color); 
    transition: all 300ms ease-in-out;
}

a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);

}

.menu-spacing {
    height: 6.5rem;
}
  
  
  /* LATERAL ESQUERDA SIDE BAR */

  .barra-lateral-esquerda {
    display: inline-block;
    background-color: var(--primary-color);
    width: 20%;
    height: 40.91rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 1.5rem;
    align-items: center;
    text-align: center;
  }

  .titulo-sidebar {
    background-color: var(--secundary-color);
    border-top-right-radius: 1.5rem;
    color: var(--white);
    font-size: 1.8rem;
    padding: 0.5rem;
  }

  /* LATERAL DIREITA */

  .barra-lateral-direita {
    display: inline-block;
    position: fixed;
    right: 0;
    background-color: var(--primary-color);
    width: 70%;
    height: 40.91rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }