/* Utilizaremos medidas em REM */
:root {
    --primary-color: rgba(50,130,218,1);
    --secundary-color: rgba(76,64,134,1);
    --fundo-tabela: rgba(246,250,228,1);
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
  body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  line-height: 1.5;
  }
  
  .menu {
      background-color: var(--primary-color);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2rem;
      padding: 1.5rem;
      z-index: 1;
  
  }
  
  .menu-adc-part {
      padding-right: 7rem;
      
  }
  
  .menu-adc-part:hover {
      background: rebeccapurple; 
      transition: all 300ms ease-in-out;
    }
  
  a {
      font-size: 1.2rem;
      text-decoration: none;
      color: white;
  
  }
  
  .menu-spacing {
      height: 6.5rem;
  }
  
  
  /* PARTE DO LEFT SIDE BAR */
