/*
████████╗███████╗██╗      █████╗ ███████╗    ██████╗ ██████╗ ██╗███╗   ██╗ ██████╗██╗██████╗  █████╗ ██╗     
╚══██╔══╝██╔════╝██║     ██╔══██╗██╔════╝    ██╔══██╗██╔══██╗██║████╗  ██║██╔════╝██║██╔══██╗██╔══██╗██║     
   ██║   █████╗  ██║     ███████║███████╗    ██████╔╝██████╔╝██║██╔██╗ ██║██║     ██║██████╔╝███████║██║     
   ██║   ██╔══╝  ██║     ██╔══██║╚════██║    ██╔═══╝ ██╔══██╗██║██║╚██╗██║██║     ██║██╔═══╝ ██╔══██║██║     
   ██║   ███████╗███████╗██║  ██║███████║    ██║     ██║  ██║██║██║ ╚████║╚██████╗██║██║     ██║  ██║███████╗
   ╚═╝   ╚══════╝╚══════╝╚═╝  ╚═╝╚══════╝    ╚═╝     ╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝╚═╝╚═╝     ╚═╝  ╚═╝╚══════╝
*/                                                                                                           

.menu {
    background-image: linear-gradient( to left, var(--primary-color)25%, var(--secundary-color));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 2rem;
    padding: 1.5rem;
    z-index: 1;
}
.menu-adc-part {
    padding-right: 7rem;
}

.menu a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    border-radius: 1rem;
}

.menu a:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.menu-spacing {
    height: 4.5rem;
}
  
/*
███████╗██╗██████╗ ███████╗    ██████╗  █████╗ ██████╗     ███████╗███████╗ ██████╗ ██╗   ██╗███████╗██████╗ ██████╗  █████╗ 
██╔════╝██║██╔══██╗██╔════╝    ██╔══██╗██╔══██╗██╔══██╗    ██╔════╝██╔════╝██╔═══██╗██║   ██║██╔════╝██╔══██╗██╔══██╗██╔══██╗
███████╗██║██║  ██║█████╗      ██████╔╝███████║██████╔╝    █████╗  ███████╗██║   ██║██║   ██║█████╗  ██████╔╝██║  ██║███████║
╚════██║██║██║  ██║██╔══╝      ██╔══██╗██╔══██║██╔══██╗    ██╔══╝  ╚════██║██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║  ██║██╔══██║
███████║██║██████╔╝███████╗    ██████╔╝██║  ██║██║  ██║    ███████╗███████║╚██████╔╝╚██████╔╝███████╗██║  ██║██████╔╝██║  ██║
╚══════╝╚═╝╚═════╝ ╚══════╝    ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝    ╚══════╝╚══════╝ ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝
*/                                                                                                                                                                                                                                                                                                                   
  .barra-lateral-esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    background-color: var(--primary-color);
    width: 20%;
    height: 42.5rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 1.5rem;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .titulo-sidebar-esquerda {
    background-color: var(--secundary-color);
    color: var(--white);
    font-size: 1.8rem;
    padding: 0.5rem;
    border-top-right-radius: 1.5rem;
    padding-left: 1rem;
    width: 100%;
}


.espaco-gastos-mensais-atual{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    width: 100%;
    border-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  .titulo-sidebar-atual {
    width: 15rem;
    margin-top: 1rem;
    background-color: var(--secundary-color);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    color: var(--white);
    font-size: 1.8rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem; /* superior | direita | inferior | esquerda */
}

.espaco-gastos-mensais-atual table,
.espaco-gastos-mensais-atual table th,
.espaco-gastos-mensais-atual table td,
.espaco-tabela-proximos table,
.espaco-tabela-proximos table th,
.espaco-tabela-proximos table td,
.espaco-tabela-este-mes table {
    background-color: var(--fundo-tabela);
    color: black;
    font-size: 1rem;
    width: 15rem;
    border-collapse: collapse;
    border: 1px solid black;
    /*Corrigir border radius*/
}

.titulo-tabela{
    width: 100%;
}

.titulo-tabela th{
    background-color: var(--secundary-color);
    color: var(--white);
}

.tabela-spacing {
    height: 3.5rem;
}

.espaco-tabela-proximos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    border-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }


/*
  ██╗      █████╗ ████████╗███████╗██████╗  █████╗ ██╗         ██████╗ ██╗██████╗ ███████╗██╗████████╗ █████╗ 
  ██║     ██╔══██╗╚══██╔══╝██╔════╝██╔══██╗██╔══██╗██║         ██╔══██╗██║██╔══██╗██╔════╝██║╚══██╔══╝██╔══██╗
  ██║     ███████║   ██║   █████╗  ██████╔╝███████║██║         ██║  ██║██║██████╔╝█████╗  ██║   ██║   ███████║
  ██║     ██╔══██║   ██║   ██╔══╝  ██╔══██╗██╔══██║██║         ██║  ██║██║██╔══██╗██╔══╝  ██║   ██║   ██╔══██║
  ███████╗██║  ██║   ██║   ███████╗██║  ██║██║  ██║███████╗    ██████╔╝██║██║  ██║███████╗██║   ██║   ██║  ██║
  ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝    ╚═════╝ ╚═╝╚═╝  ╚═╝╚══════╝╚═╝   ╚═╝   ╚═╝  ╚═╝
*/                                                                                                             
  
  .barra-lateral-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    background-color: var(--primary-color);
    width: 70%;
    height: 42.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }

  .barra-lateral-direita nav, 
  .barra-lateral-direita nav a {
    background-color: var(--secundary-color);
    border-top-left-radius: 1.5rem;
    font-size: 1.8rem;
    color: var(--white);

}

.barra-lateral-direita header{
    width: 100%;
}

.titulo-sidebar-direita {
    background-color: var(--secundary-color);
    color: var(--white);
    font-size: 1.8rem;
    padding: 0.5rem;
    border-top-left-radius: 1.5rem;
    padding-left: 1rem;
    width: 100%;
}

.topo-barra-direita {
    display: inline;
}

.botoes-barra-direita {
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}

.botoes-barra-direita section{
    display: flex;
}
.espaco-saldo-atual {
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.titulo-saldo-atual,
.titulo-saldo-prox {
    background-color: var(--secundary-color);    
    height: 3rem;
    width: 16rem;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.saldo-atual,
.saldo-prox {
    background-color: var(--fundo-tabela);    
    height: 4rem;
    width: 16rem;
    text-align: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.botao_editar_saldoatual {
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--secundary-color);
}

.botao_editar_saldoatual:hover {
    background-color: var(--dark-secundary-color);
    transition: 0.3s;
}

.espaco-saldo-prox {
    display:flex;
    flex-direction: column;
    padding: 20px;
}

.botoes-barra-direita button,
.botoes-barra-direita input {
    display: flex;
    all: unset;
    width: 12rem;
    color: var(--white);
    height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border: 0.1rem solid black;
    border-radius: 1.5rem;
    background-color: var(--secundary-color);
    cursor: url(http://www.webcis.com.br/images/lupa-clientes.cur), default;
    margin: 12px 12px;
}

.botoes-barra-direita input::placeholder {
    color: var(--white);

}

.espaco-tabela-este-mes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.espaco-tabela-este-mes table th,
.espaco-tabela-este-mes table td {
    font-size: 1rem;
    width: 15rem;
    border-collapse: collapse;
    border: 1px solid black;
    /*Corrigir border radius*/
}

.espaco-tabela-este-mes table th{
    color: var(--white);
}


.texto_editar_despesa,
.texto_editar_receita {
    text-decoration: none;
    color: var(--white);
}

.espaco-este-mes {
    max-height: 15rem;
    overflow-y: scroll;
    display: flex; 
    border-radius: 1.5rem;
}

.esp {
    max-height: 23rem;
    overflow-y: scroll;
}

.esp table{
    width: 50rem;
    text-align: center; 
}

.tabela-este-mes tr:first-child {
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid black;
}

.tabela-este-mes th{
    height: 4rem;
    
}

.tabela-este-mes td {
    height: 3rem;
}

.botoes-adiciona {
    display: flex;
}

.botoes-adicionar a {
    border: 2px solid black;
    border-radius: 1.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
}

.botao-adicionar-despesa {
    background-color: red;
}

.botao-adicionar-despesa:hover {
    background-color: rgb(142, 2, 2);
    transition: 0.3s;
}

.botao-adicionar-receita {
    background-color: green;
}

.botao-adicionar-receita:hover {
    background-color: rgb(1, 69, 1);
    transition: 0.3s;
}

.espaco_grafico {
    display: flex;
    width: 275px;
    height: 275px;
}

#piechart {
    width: 100%; /* Define a largura do gráfico para ocupar 100% do contêiner pai. */
    max-width: 400px; /* Define a largura máxima do gráfico, ajuste conforme necessário. */
    height: auto; /* A altura é definida automaticamente para manter a proporção. */
}


/*
██████╗ ███████╗███████╗██████╗  ██████╗ ███╗   ██╗███████╗██╗██╗   ██╗██╗██████╗  █████╗ ██████╗ ███████╗
██╔══██╗██╔════╝██╔════╝██╔══██╗██╔═══██╗████╗  ██║██╔════╝██║██║   ██║██║██╔══██╗██╔══██╗██╔══██╗██╔════╝
██████╔╝█████╗  ███████╗██████╔╝██║   ██║██╔██╗ ██║███████╗██║██║   ██║██║██║  ██║███████║██║  ██║█████╗  
██╔══██╗██╔══╝  ╚════██║██╔═══╝ ██║   ██║██║╚██╗██║╚════██║██║╚██╗ ██╔╝██║██║  ██║██╔══██║██║  ██║██╔══╝  
██║  ██║███████╗███████║██║     ╚██████╔╝██║ ╚████║███████║██║ ╚████╔╝ ██║██████╔╝██║  ██║██████╔╝███████╗
╚═╝  ╚═╝╚══════╝╚══════╝╚═╝      ╚═════╝ ╚═╝  ╚═══╝╚══════╝╚═╝  ╚═══╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝
                                                                                                          
*/
@media (max-height: 720px) {
    
    .barra-lateral-esquerda {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        background-color: var(--primary-color);
        width: 20%;
        height: 35.5rem;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 1.5rem;
        align-items: center;
        align-content: center;
        text-align: center;
      }

      .tabela-spacing {
        height: 1rem;
    }

    .este-mês-titulo {
        font-size: 1.8rem;
    }

    .espaco_grafico {
        display: flex;
        width: 265px;
        height: 265px;
    }

  .titulo-sidebar-atual {
    width: 15rem;
    margin-top: 1rem;
    background-color: var(--secundary-color);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    color: var(--white);
    font-size: 1.4rem;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem; /* superior | direita | inferior | esquerda */
}

    .espaco-tabela-proximos table,
    .espaco-tabela-proximos table th,
    .espaco-tabela-proximos table td {
    background-color: var(--fundo-tabela);
    color: black;
    font-size: 0.9rem;
    width: 15rem;
    height: 0.8rem;
    border-collapse: collapse;
    border: 1px solid black;
    
}

      .espaco-tabela-proximos{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--white);
        border-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
      }
    
      .barra-lateral-direita {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        right: 0;
        background-color: var(--primary-color);
        width: 70%;
        height: 35.5rem;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
      }

      .espaco-este-mes {
        max-height: 8em;
        overflow-y: scroll;
        display: flex; 
        border-radius: 1.5rem;
    }
    
    .esp {
        max-height: 17rem;
        overflow-y: scroll;
    }

}