body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
  }
  
  form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    text-align: center;
  }
  
  form input:focus {
    outline: 1px solid var(--primary-color);
  }
  
  form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
  }
  
  form button:hover {
    background: var(--secundary-color);
  }

.input-confirmar {
    font-size: 5rem;
    background-color: green;
    border-radius: 2rem;
    text-align: center;
}