/* Utilizaremos medidas em REM */
:root {
    --primary-color: rgba(50,130,218,1);
    --secundary-color: rgba(76,64,134,1);
    --dark-secundary-color: rgb(40, 27, 107);
    --fundo-tabela: rgba(246,250,228,1);
    --white: rgba(255,255,255,1);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    height: 10px;
    width: 16px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: var(--secundary-color);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--secundary-color);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: var(--secundary-color);
  }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: black;
    line-height: 1.5;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
  body {
      font-size: 1.6rem; /* Reduz o tamanho da fonte */
  }

  .container {
      max-width: 90%; /* Reduz a largura do container principal */
      padding: 10px; /* Espaçamento interno menor */
  }

  /* Ajustes para as barras laterais */
  .barra-lateral-esquerda, .barra-lateral-direita {
      width: 100%; /* Ocupam toda a largura na tela pequena */
      border-radius: 0; /* Removendo bordas arredondadas */
  }

  /* Ajuste para a tabela de gastos deste mês na barra lateral direita */
  .tabela-este-mes th, .tabela-este-mes td {
      width: auto; /* Largura automática nas células da tabela */
  }

  /* Ajuste para o gráfico */
  #meuGrafico {
      width: 100%; /* Ocupa toda a largura disponível */
      max-height: 250px; /* Altura máxima para evitar que fique muito grande */
  }
}


/* Responsividade para telas maiores */
@media (min-width: 1440px) {
  body {
      font-size: 2.4rem; /* Aumenta o tamanho da fonte para telas maiores */
  }

  .container {
      max-width: 80%; /* Reduz a largura do container principal para evitar que ele fique muito largo em telas maiores */
  }

  /* Ajustes para as barras laterais */
  .barra-lateral-esquerda, .barra-lateral-direita {
      width: 15%; /* Reduz a largura das barras laterais para que elas ocupem menos espaço na tela maior */
  }

  .barra-lateral-direita {
      width: 85%; /* Aumenta a largura da barra lateral direita para ocupar o espaço restante na tela */
  }

  /* Ajuste para a tabela de gastos deste mês na barra lateral direita */
  .tabela-este-mes th, .tabela-este-mes td {
      width: auto; /* Largura automática nas células da tabela */
  }

  /* Ajuste para o gráfico */
  #meuGrafico {
      width: 50%; /* Reduz o tamanho do gráfico para que ele não ocupe toda a largura da tela */
      max-height: 350px; /* Altura máxima para evitar que fique muito alto */
  }
}
